@import 'reset';
@import 'defaults';
@import 'pure';
@import 'new-question';

/*************************
Colors
*************************/

$white: #EEE;
$black: #333;
$primary-color: HSLA(181, 72%, 45%, 1);

/*************************
Fonts
*************************/

$font: 'Open Sans', sans-serif;

