@import 'reset';
@import 'pure';
@import 'defaults';
@import 'new-survey';
@import 'header';



$white: #EEE;
$black: #333;
$fontfamily: 'Open Sans', sans-serif;
$primary-color: HSLA(181, 72%, 45%, 1);
